/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-rows:auto auto auto auto auto;
	grid-template-columns:auto auto auto auto;
	grid-gap:2px;
}

.container > div{
	background-color:green;
	color:white;
	font-size:4vw;
}

.item1{
	grid-column:1 / 5
}
.item2{
	grid-row:2 / 6;

}

.item4{
	grid-column:3/5;
}

.item6{
	grid-column:3/5
}
.item10{
	grid-column:2/5;
}

